// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

// Estilos Generales de HTML
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos Header
header {
  display: flex;
  justify-content: center;
  height: 250px;
  padding: 20px;

  .navbar{
    .container-fluid{
      .form-control{
        width: 300px;
      }
    }
  }

  .imagen-logo {
    width: 150px;
    height: auto;
  }
  .iconoInicio {
    margin-left: 20px;
  }
  .iconoInicio,
  .iconoCarrito {
    display: flex;
    align-items: center;
    margin: 5px;
  }

  .iconoInicio a,
  .iconoCarrito a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }

    .badge {
      background-color: #ff0000;
      color: #fff;
      padding: 4px 8px;
      border-radius: 50%;
      font-size: 12px;
      margin-left: 5px;
    }
  }

  .iconoInicio a {
    margin-right: 20px;
  }

  .carrito-container {
    display: none;
    position: absolute;
    top: 30px; 
    right: 10px; 
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
  }

  &:hover .carrito-container {
    display: block;
  }
}

// Estilos Modal
#carritoModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    .cerrarModal {
      color: #aaa;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    h2 {
      font-size: 20px;
    }
    #total {
      font-weight: bold;
    }
    #btn-finalizar-compra {
      width: 150px;
    }
    .btn-vaciar {
      width: 150px;
    }
  }
}
// Estilos Cards

#violin-container,
#viola-container,
#violoncello-container,
#contrabajo-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 50px 20%;
  gap: 20px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 286px;
      height: 286px;
    }

    .card-body {
      .card-title {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
      }

      .card-text {
        font-family: "Quicksand", sans-serif;
      }

      .precio_producto {
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
      }

      .btn {
        display: flex;
      }
    }

    &.fade-in {
      animation: fade-in 0.5s;
    }
  }
}

// Estilos Footer

footer {
  .imagen-footer {
    display: flex;
    justify-content: center;
    img {
      width: 150px;
      height: auto;
    }
  }
  .contacto-footer {
    display: flex;
    justify-content: space-evenly;
    .contacto-titulo {
      h3 {
        font-size: 20px;
        display: flex;
        justify-content: center;
      }
      ul {
        li {
          list-style: none;
        }
      }
    }

    .contacto-cuenta {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 20px;
      }
      ul {
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .contacto-local {
      h3 {
        font-size: 20px;
        display: flex;
        justify-content: center;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          list-style: none;
          font-size: 15px;
        }
      }
    }
  }
}
